---
// Components
import { Image } from 'astro:assets';

// Content
// import repairC from '../../assets/images/repair-after.png';
import addition1 from '../../assets/images/addition1.jpg';
import bigLiving from '../../assets/images/big-living.jpg';
import books1 from '../../assets/images/books-1.jpg';
import books2 from '../../assets/images/books-2.jpg';
import closeUp from '../../assets/images/close-up.jpg';
import distressed from '../../assets/images/distressed-engineered.jpg';
import kidsBed from '../../assets/images/kids-bed-wide.jpg';
import kitchen1 from '../../assets/images/kitchen1.jpg';
import loft1 from '../../assets/images/loft-1.jpg';
import loft2 from '../../assets/images/loft-2.jpg';
import medallion1a from '../../assets/images/medallion-1.jpg';
import medallion2b from '../../assets/images/medallion-2b.jpg';
import resand1 from '../../assets/images/resand1.jpg';
import resand2 from '../../assets/images/resand2.jpg';
import stairs1 from '../../assets/images/stairs-1.jpg';
import stairs2 from '../../assets/images/stairs-prefinish.jpg';
import stockKitchen from '../../assets/images/kitchen-1.jpg';
import teak from '../../assets/images/teak.jpg';
---

<div class="mt-16 columns-1 gap-4 sm:columns-2 md:columns-3">
  <Image
    src={stairs1}
    alt="hardwood floor stairs"
    width="500"
    class="mb-4 rounded-lg"
  />
  <Image
    src={addition1}
    alt="Repair during"
    width="500"
    class="mb-4 rounded-lg"
  />
  <Image
    src={distressed}
    alt="Repair after"
    width="500"
    class="mb-4 rounded-lg"
  />
  <Image src={teak} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={stockKitchen} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={kidsBed} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={kitchen1} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={medallion2b} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image
    src={bigLiving}
    alt="Living room wood floors"
    width="500"
    class="mb-4 rounded-lg"
  />
  <Image src={books1} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={books2} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={medallion1a} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={closeUp} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={loft1} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={loft2} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={resand1} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={resand2} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
  <Image src={stairs2} alt="Kitchen" width="500" class="mb-4 rounded-lg" />
</div>
