---
// Data
import { SITE_TITLE, SITE_UTM_SOURCE } from '../../consts';

// Content
import  logo  from "../../assets/images/logo-white.svg";
const today = new Date();
---


<footer class="mt-10 lg:pt-20 container rounded-2xl mx-auto p-4 bg-red-900 md:p-8 lg:p-10 dark:bg-stone-900">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="/" class="">
        <img src={logo.src} width={logo.width} height={logo.height} class="inline-block mb-5 h-8" alt="logo" />
      </a>
      <p class="my-6 text-stone-100 dark:text-gray-400">Your trusted hardwood floor experts serving Colorado Springs, Monument, Fountain, Pueblo, and the entire front range.</p>
      <ul class="flex flex-wrap justify-center items-center mb-6 text-stone-200 dark:text-white">
          <li>
              <a href="/" class="mr-4 hover:underline md:mr-6 ">Home</a>
          </li>
          <li>
              <a href="/about" class="mr-4 hover:underline md:mr-6">About Us</a>
          </li>
          <li>
              <a href="/services" class="mr-4 hover:underline md:mr-6 ">Our Services</a>
          </li>
          <li>
              <a href="/gallery" class="mr-4 hover:underline md:mr-6">Gallery</a>
          </li>
          <li>
              <a href="/contact" class="mr-4 hover:underline md:mr-6">Contact us</a>
          </li>
      </ul>
      <span class="text-sm text-stone-300 sm:text-center dark:text-gray-400">
  <div class="text-xs">
		<span class="block ">&copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.</span>
  <span class="block">Built with &heartsuit; by <a
      href=`https://newvistadigital.com/?utm_source=${SITE_UTM_SOURCE}`
      target="_blank" class="underline">New Vista Digital</a
    ></span>
	</div>
</footer>